@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.page_wrapper {
  display: flex;
  background-size: cover;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.comment_block {
  display: flex;
  backdrop-filter: blur(20px);
  flex-direction: column;
  width: 20%;
  /* min-height: 700px; */
  margin-left: 10px;
  gap: 10px;
}

.comment {
  background-color: white;
  border: 2px solid #3F51B5;
  border-radius:5px;
  display: flex;
  min-height: 40px;
}

.comment_input form {
  display: flex;
  justify-content: space-evenly;
}

.comment_block form textarea {
  width:100%;
  padding: 5px;
  border-radius:5px;
  border: 2px solid #8190eb;
  transition: .4s border-color;
  height: 30px;
  resize: none;
  margin: 0 10px 0 0;
}

.comment_block form textarea:hover {
  border: 2px solid #3F51B5;
}

.comment_block form button {
  appearance:none;
  -webkit-appearance:none;
  /* usual styles */
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:80px;
  cursor: pointer;
}

.comment img {
  width: 42px;
  border-right: 2px solid #3F51B5;
  border-radius: 3px 0 0 3px;
}

.comment p {
  margin: 5px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
}

.image_wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1200px) {
  .content_wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 1201px) {
  .content_wrapper {
    display: flex;
    flex-direction: row;
  }
}

.main-text {
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 0;
}

.post {
  width: 256px;
  height: 400px;
  background-color: white;
  border: solid;
  border-radius: 20px;
  margin: 10px;
}

p {
  overflow-wrap: anywhere;
}

.post p {
  width: 240px;
  margin: 8px;
  font-size: 18px;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;

  justify-content: center;
}

.post > img {
  width: 256px;
  height: 256px;
  border-radius: 15px 15px 0 0;
}

a {
  color: #00b7ff;
}

audio {
  display: none;
}

.main-text {
  /* Font options */
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px 4px #000000;
  font-size: 80px;

  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite;

  /* Standar Syntax */
  animation: rainbow 3s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: CadetBlue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: DeepPink;
  }
  90% {
    color: DodgerBlue;
  }
  100% {
    color: orange;
  }
}

/* Standar Syntax */
@keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: CadetBlue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: DeepPink;
  }
  90% {
    color: DodgerBlue;
  }
  100% {
    color: orange;
  }
}
