doctype html
html
    head
        title= "Cool catz"
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='icon', href='https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/209/cat-face_1f431.png')
        audio(controls='', autoplay='autoplay')
            source(src=audio_src, type='audio/mpeg')
    body(style="background-image:url(" + img_url + ") ;")
        each post in posts
            block content
        p(class="main-text")="CATZ ARE COOL!!!!"
    script="let aud = document.querySelector('audio'); aud.play()"
